html,
button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  border: none;
  cursor: pointer;

  padding: 12px 20px;
  border-radius: 8px;

  color: white;
  background: darkcyan;
  transition: background-color 300ms;

  &.size {
    &_s {
      padding: 8px 12px;
    }
  }

  &.color {
    &_danger {
      background: brown;

      &:hover {
        background: #6e1c1c;
      }
    }
  }

  &:hover {
    background: #006e6e;
  }

  &:disabled {
    background: #b3b3b3;
  }
}

main {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  min-width: 400px;
  background-color: beige;

  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 24px;
  }
}

.keys {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 16px;
  }
}

.key {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 20px;
  }

  &__value {
    flex: 1;
    display: flex;

    &_used {
      opacity: 0.2;
    }
  }

  &__buttons {
    & > * + * {
      margin-left: 12px;
    }
  }
}
